<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905674811137-stv34nlnk186o990ghl3qboe34icj7tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905674811137-stv34nlnk186o990ghl3qboe34icj7tm</string>
	<key>API_KEY</key>
	<string>AIzaSyBGmq0GdzwEjt86TTKrrji0dO1ol1pYUV4</string>
	<key>GCM_SENDER_ID</key>
	<string>905674811137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wilson.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-b07b3</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-b07b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905674811137:ios:304b49995bf32fe52d5d00</string>
</dict>
</plist>